.winnerspan {
  font-weight: bold;
}
.pickspan {
  font-size: smaller;
}
.form-label {
  font-weight: bold;
}
#scoreboardtable {
  border-collapse: collapse;
}
#scoreboardtable td, th {
  border: 1px solid;
}
