.winnerspan {
  font-weight: bold;
}
.pickspan {
  font-size: smaller;
}
.form-label {
  font-weight: bold;
}
.btn.btn-submit {
  color: #ffffff;
  background-color: #27df20;
  border-color: #27df20;
}
